<%= provide(:title, '') %>
<h2>Home Page</h2>

Welcome to the Sports Club/LA Fitness Tracking site. 

If you are a new client, please set up an account here:
<%= link_to "Create Client Account", new_client_path %>

