<%= provide(:title, '') %>
<h2>Home Page</h2>

<p>Welcome to the Sports Club/LA Fitness Tracking site.</p>

<p>If you are a new client, please set up an account here: <%= link_to "Create Client Account", new_client_path %></p>

<p>--Include training and contact info --</p>

<p>--24-hour cancellation policy--</p>

