<% if @trainer.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@trainer.errors.count, "error") %>.
    </div>
    <ul>
    <% @trainer.errors.full_messages.each do |msg| %>
    	<% unless msg.include? 'digest' %>
    		<li>* <%= msg %> </li> 
    	<% end %>
    <% end %>
    </ul>
  </div>
<% end %>