<% provide(:title, @client.name) %>
<h2><%= yield(:title)%></h2>

<% if session[:user_class] == Trainer %>
<%= link_to "Add Schedule", edit_client_path(@client) %>
<% end %>

<ul><% @client.schedules.order("scheduled_date DESC").each do |schedule| %>
	<li><%= link_to schedule.scheduled_date.strftime("%d %b %Y"), schedule_path(schedule) %></li>
<% end %></ul>



