.navbar-fixed-top {
	height:40px;
}

.title {
	float:left;
	height:40px;
	font-size:35px;
}

.pull-right {
	float:right;
	width:300px;
	height:40px;
}

.scla-link {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:12px;
	font-size:12px;
}