<% provide(:title, "New Trainer") %>
<h2>Create new Trainer account</h2>

<%= render :partial => 'shared/errors', :locals => { :user => @trainer } %>
<%= render :partial => 'shared/new_user_form', :locals => { :user => @trainer } %>

